<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta property="og:type" content="website" />
		<title><%= tag.name %></title>
		<meta property="og:title" content="<%= tag.name %>" />
		<meta property="og:url" content="<%= tag.url %>" />
		<meta property="og:description" content="<%= tag.description %>" />
		<meta property="theme-color" content="#2f3136" />
	</head>
	<body></body>
</html>
