<footer class="footer">
    <b>© <script>document.write(new Date().getFullYear())</script> - <%=themeConfig.websiteName || "themeConfig.websiteName"%></b><br><br> Dashboard made by tristan using <a href="https://github.com/breftejk/Discord.js-Web-Dashboard" target="_blank">discord-dashboard</a>
</footer>