<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li> <a class="waves-effect waves-dark <%if(now == 'index'){%>active<%}%>" href="/" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>
                </li>
                <li> <a class="waves-effect waves-dark <%if(now == 'manage'){%>active<%}%>" href="/manage" aria-expanded="false"><i class="fa fa-user-circle-o"></i><span class="hide-menu">Manage Guilds</span></a>
                </li>
                <li> <a class="waves-effect waves-dark <%if(now == 'commands'){%>active<%}%>" href="/commands" aria-expanded="false"><i class="fa fa-table"></i><span class="hide-menu">Commands</span></a>
                </li>
                <li> <a class="waves-effect waves-dark <%if(now == 'pp'){%>active<%}%>" href="/privacy-policy" aria-expanded="false"><i class="fa fa-lock"></i><span class="hide-menu">Privacy Policy</span></a>
                </li>
            </ul>
        </nav>
    </div>
</aside>